# General ignores
*~
.#*
*.
*.slo
*.mk
*.mem
*.gcda
*.gcno
*.la
*.lo
*.loT
*.o
*.a
*.ncb
*.opt
*.plg
*swp
*.patch
*.tgz
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.gz.asc
*.tar.bz2.asc
*.tar.xz.asc
.FBCIndex
.FBCLockFolder
.deps
.libs
.DS_Store

**/tests/**/*.db
**/tests/**/*.tmp

CMakeLists.txt.user*
temp
**/CMakeLists.txt.autosave
!cmake/Config.guess
build/
**/.idea
**/.vscode
devtools/gyb/vendor/
include/polarphp/parser/internal/YYParserDefs.h
include/polarphp/parser/internal/YYLexerConditionDefs.h
include/polarphp/parser/internal/YYLocation.h
include/polarphp/syntax/internal/TokenEnumDefs.h
src/parser/impl/YYLexer.cpp
src/parser/impl/YYParser.cpp
src/syntax/TokenDescMap.cpp
