# General ignores
*~
.#*
*.
*.slo
*.mk
*.mem
*.gcda
*.gcno
.deps
.libs
.DS_Store

**/Output/**/*

CMakeLists.txt.user*
temp
**/CMakeLists.txt.autosave
!cmake/Config.guess
build/
cmake-build-debug/
**/.idea
**/.vscode
include/polarphp/parser/internal/YYParserDefs.h
include/polarphp/parser/internal/YYLexerConditionDefs.h
include/polarphp/parser/internal/YYLocation.h
include/polarphp/syntax/internal/TokenEnumDefs.h
src/parser/internal/YYLexer.cpp
src/parser/internal/YYParser.cpp
src/syntax/TokenDescMap.cpp

# symfony projects
devtools/gyb/vendor/

## phplit
devtools/phplit/.env.local
devtools/phplit/.env.local.php
devtools/phplit/.env.*.local
devtools/phplit/var/
devtools/phplit/vendor/
!devtools/phplit/tests
